body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

* {
  box-sizing: border-box;
}

.square {
  border: 1px solid gold;
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
}
.square .bin {
  width: 20%;
  height: 20%;
  border: 1px solid gold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.square .bin div {
  width: 70px;
  height: 70px;
  display: flex;
  border: 1px dotted gray;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 30px;
  font-weight: bold;
  color: black;
  text-shadow: 1px 1px 1px gray;
  cursor: pointer;
}

.panel {
  position: absolute;
  top: 30px;
  left: 30px;
  border: 1px solid gold;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
}
.panel h3 {
  width: 120px;
  background-color: bisque;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  font-size: 50px;
}
